html {
  font-size: 62.5%; 
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Georgia, serif;
  background-color: #A8DADC;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #1D3557;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #457B9D; 
  color: #F1FAEE;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E63946;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:hover {
  color: #E63946;
}

header a {
  color: #F1FAEE;
  padding: 1rem;
}

a.brand {
  color: #F1FAEE;
  font-size: 3rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

.card {
  border: 0.1rem #000000 solid;
  background-color: #F1FAEE;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

.rating span {
  color: #000000;
  margin: 0.1rem;
}

